.section5{
    width: 100%;
    .section5__container{
        margin: 0 40px;
        .section5__container--items{
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(3, 347px);
            grid-template-rows: 2fr;
            column-gap: 25px;
            row-gap: 40px;
            padding: 100px;
            background-image: url(../Imagenes/bg-1.jpg);
            .section5__container--title{
                grid-column: 2;
                text-align: center;
                text-decoration: underline;
                .section5__container--h2{
                    font-family: $fuente-texto;
                    font-size: 30px;
                }
            }
            .section5__container--mini-items{
                display: flex;
                justify-content: center;
                flex-direction: column;
                grid-column: 1;
                grid-auto-rows: 2;
                .section5__container--img{
                    margin-bottom: 20px;
                    .section5__container--imagen{
                        object-fit: contain;
                    }
                }
                .section5__container--p{
                    margin-bottom: 20px;
                    .section5__container--fecha{
                        font-family: $fuente-productos;
                        font-size: 12px;
                        text-decoration: underline;
                        color: $color-venta;
                    }
                }
                .section5__container--subtitle{
                    margin-bottom: 20px;
                    h3{
                        font-family: $fuente-titulo;
                    }
                }
                .section5__container--texto{
                    width: 100%;
                    margin-bottom: 20px;
                    .section5__container--parrafo{
                        font-family: $fuente-texto;
                        color: $color-negro;
                    }
                }
                .section5__container--a{
                    .section5__container--enlace{
                        font-family: $fuente-productos;
                        font-size: 12px;
                        color: $color-negro;
                    }
                }
            }
            .section5__container--mini-items2{
                grid-column: 2;
                grid-auto-rows: 2;
                @extend .section5__container--mini-items;
            }
            .section5__container--mini-items3{
                grid-column: 3;
                grid-auto-rows: 2;
                @extend .section5__container--mini-items;
            }
        }
    }
}